.task_top
  .card_content
    .card_title
      = @task.title
    .board_detail_actions
      - if user_signed_in? && current_user.has_written_task?(@task)
        .task_detail_actions
          .dropdown
            = image_tag 'actions.svg', class: 'dropbtn'
            .dropdown-content.mini
              = link_to 'Edit', edit_board_task_path(@task)
              = link_to 'Delete', board_task_path(@task), data: {method: 'delete', confirm: '本当に削除してもいよろしいですか？'}

.task_image_section
  - if @task.eyecatch.attached?
    .task_image 
      = image_tag @task.eyecatch
  .task_content_section
    .task_content
      = @task.content
    .task_limit
      %h2 Limit
      = @task.limit

  .task
    .comment_top
      %h2.comment_title Comment
      - @comments.each do |comment|
        .card_comment
          .card_comment_content
            .card_comment_detail
              = image_tag comment.user.avatar_image
            .card_content_detail
              = comment.content

    
      = link_to new_board_task_comment_path(task_id: @task.id) do 
        .add_new_board
          .add_new_board_content
            .add_new_board_title
              + Add new comment